<h1>Editing Assigments Cost Center</h1>

<%= render 'form', assigments_cost_center: @assigments_cost_center %>

<%= link_to 'Show', @assigments_cost_center %> |
<%= link_to 'Back', assigments_cost_centers_path %>
