<h1>Editing Cost Center Document</h1>

<%= render 'form', cost_center_document: @cost_center_document %>

<%= link_to 'Show', @cost_center_document %> |
<%= link_to 'Back', cost_center_documents_path %>
