<h1>Registro y renovación de documentación de personal</h1>

<div class="g-mb-30">
  <!-- Figure -->
  <figure class="u-info-v7-1 u-info-v7-1__item g-bg-white g-rounded-4">
		<div class="row justify-content-start ml-2 col-10 g-py-10">
			<div class="col-6 col-md-4 col-lg-3">
				<h3>Datos básicos de: </h3>	
			</div>
			<div class="col-4">
				<%= form_with(url: '#', id: 'form_people_documentation') do |form| %>
					<%= form.select(:person_select, @people.collect {|p| ["#{p.fullname}", p.id]}, {},
				                    	required: :true, class: 'form-control person_select_data',
				                    	onchange: 'status_documentation.populate_with_peron_data()') %>
				<% end %>
			</div>
		</div>
    <div id="person_information" class="g-py-20 g-px-10" style="display:none">
      <!-- Figure Info -->
      <div>
      	<em id="person_dni" class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">DNI: </em>
      	<em id="person_expiration_dni" class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">| vencimiento: </em>
      	 | Archivo dni: <a id="person_dni_file" href="#" class="btn btn-xs u-btn-outline-purple u-btn-hover-v1-2">  </a>
      </div>
      <div>
      	<em id="person_cuil" class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">CUIL: </em>
      	Archivo cuil: <a id="person_cuil_file" href="#" class="btn btn-xs u-btn-outline-purple u-btn-hover-v1-2">  </a>
      </div>
      <div>
      	<em id="person_birth_date" class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Inicio actividad: </em>
      	Archivo: <a id="person_start_activity_file" href="#" class="btn btn-xs u-btn-outline-purple u-btn-hover-v1-2">  </a>
      </div>
      <div>
      	<em id="person_start_activity" class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Fecha nacimiento: </em>
      </div>
      <div>
      	<em id="person_nationality" class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Nacionalidad</em>
      </div>
      <div>
      	<em id="person_direction" class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Domicilio: </em>
      </div>
      <div>
      	<em id="person_phone" class="g-color-gray-dark-v4 g-font-style-normal g-font-size-default">Teléfono:</em>
      </div>
      <!-- End Figure Info -->
    </div>
    <!-- End Figure List -->
  </figure>
  <!-- End Figure -->
</div>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'assignments_person_profiles', 
                      color: 'cyan', 
                      icon: 'fa-address-card-o',
                      title: "Perfiles asignados a la persona", 
                      col_names: [ 'Perfil','Fecha inicio vigencia','Fecha fin vigencia' ] }) %>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'assignments_person_documents', 
                      color: 'purple', 
                      icon: 'fa-address-card-o',
                      title: "Listado de documentos asignados", 
                      col_names: [ 'Documento','Categoría','Vence','Fecha vencimiento','PDF','Acciones' ] }) %>

<div class="modal fade" id="renovations_modal" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" z-index='1051'>
</div>