<%= form_with(model: @zone, id: 'form-zone', class: 'needs-validation g-pl-20') do |form| %>
  <div class="form-group row">
    <%= form.text_field :code, class: 'form-control col-2 mr-2', required: true, placeholder: 'Código' %>
    <%= form.text_field :name, class: 'form-control col-4', required: true, placeholder: 'Nombre de zona' %>
    <%= form.submit 'Registrar', class: 'btn u-btn-primary ml-4' %>
  </div>
  <small class="zone_name text-danger"></small>
  <small class="zone_code text-danger"></small>
<% end %>
