$("#modal").html("<%= j (render partial: 'shared/modal', locals:{ size: 'lg', content: 'form' } ) %>")

$('.select-2-vehicle').select2({ width: '100%',theme: "bootstrap4", placeholder: "Seleccione vehiculo (*)" })
$('.select-2-unit-business').select2({ width: '100%',theme: "bootstrap4", placeholder: "Seleccione tipo (*)" })
$('.select-2-unit-state').select2({ width: '100%',theme: "bootstrap4", placeholder: "Seleccione estado (*)" })
$('.select-2-sub-zone').select2({ width: '100%',theme: "bootstrap4", placeholder: "Seleccione sub centro (*)" })
$('.select-2-operator').select2({ width: '100%',theme: "bootstrap4", placeholder: "Seleccione operadora (*)" })
$('.select-2-client').select2({ width: '100%',theme: "bootstrap4", placeholder: "Seleccione cliente (*)" })

$("#modal").modal('show')

// $("#form-vehicle-state").on("ajax:success", function(event) {
//     vehicle_states_table.ajax.reload(null,false)
//     let msg = JSON.parse(event.detail[2].response)
//     noty_alert(msg.status, msg.msg)
//     $("#modal").modal('hide')
//   }).on("ajax:error", function(event) {
// 	let msg = JSON.parse( event.detail[2].response )
// 	set_input_status_form('form-vehicle-state', 'vehicle-state', msg)
// })

document.getElementById('add_operator').addEventListener('click', e => {
  e.preventDefault()
  let operator = document.querySelector('#vehicle_state_operator_id').options[document.querySelector('#vehicle_state_operator_id').selectedIndex]
  if ( operator.value == '') {
    noty_alert('info', 'Seleccione operadora')
    return
  }
  document.getElementById('operators-list').innerHTML += `<li class='operator-to-add' data-id=${operator.value}>${operator.text}</li>`
  document.getElementById('operators-list').style.display = ''

  $('#vehicle_state_operator_id option:selected').attr('disabled', 'disabled')
  $('.select-2-operator').val('').trigger('change')
})

document.getElementById('add_client').addEventListener('click', e => {
  e.preventDefault()
  let client = document.querySelector('#vehicle_state_client_id').options[document.querySelector('#vehicle_state_client_id').selectedIndex]
  if ( client.value == '') {
    noty_alert('info', 'Seleccione cliente')
    return
  }
  document.getElementById('clients-list').innerHTML += `<li class='client-to-add' data-id=${client.value}>${client.text}</li>`
  document.getElementById('clients-list').style.display = ''
  
  $('#vehicle_state_client_id option:selected').attr('disabled', 'disabled')
  $('.select-2-client').val('').trigger('change')

})


document.getElementById('form-vehicle-state').addEventListener('submit', e => {
  e.preventDefault()
  e.stopPropagation()
  
  check_vahicle_state_dates()

  if (!vehicle_state_form_valid()) {
    return
  }
  fetch('/vehicle_states', {
    method: 'POST',
    headers: {           
        'X-CSRF-Token': document.getElementsByName('csrf-token')[0].content,
      },
      body: vehicle_state_form()
  })
  .then( response => response.json() )
  .then( response => {
    if (response.status === 'success') {
      noty_alert(response.status, response.msg)
      vehicle_states_table.ajax.reload(null,false)
      $("#modal").modal('hide')
    } else {
      set_input_status_form('form-vehicle-state', 'vehicle_state', response)
    }
  })
})

function vehicle_state_form(){
  let form = new FormData()
  form.append('vehicle_state[start_date]', document.getElementById('vehicle_state_start_date').value )
  form.append('vehicle_state[end_date]', document.getElementById('vehicle_state_end_date').value )
  form.append('vehicle_state[vehicle_id]', $('#vehicle_state_vehicle_id option:selected').val() )
  form.append('vehicle_state[cost_center_id]', $('#vehicle_state_cost_center_id option:selected').val() )
  form.append('vehicle_state[assignation_status_id]', $('#vehicle_state_assignation_status_id option:selected').val() )
  // form.append('vehicle_state[sub_zone_id]', $('#vehicle_state_sub_zone_id option:selected').val() )

  const operators = Array.from( document.getElementsByClassName('operator-to-add') )
  operators.map( (operator,index) => {
    form.append(`vehicle_state[vehicle_state_operators_attributes][${index}][operator_id]`, operator.dataset.id )
  } )

  const clients = Array.from( document.getElementsByClassName('client-to-add') )
  clients.map( (client,index) => {
    form.append(`vehicle_state[vehicle_state_clients_attributes][${index}][client_id]`, client.dataset.id )
  } )
  return form
}

function vehicle_state_form_valid(){
   return true
}

document.getElementById('vehicle_state_start_date').addEventListener('change', e => {
  check_vahicle_state_dates()
})

document.getElementById('vehicle_state_end_date').addEventListener('change', e => {
  check_vahicle_state_dates()
})

function check_vahicle_state_dates(){
  const vehicle_id = $('#vehicle_state_vehicle_id option:selected').val()
  const start_date = document.getElementById('vehicle_state_start_date').value
  const end_date = document.getElementById('vehicle_state_end_date').value
  if (start_date != '' && end_date != '') {
    fetch(`/vehicle_states/check_dates?vehicle_id=${vehicle_id}&start_date=${start_date}&end_date=${end_date}`)
      .then( response => response.json())
      .then( response => {
        if (response.status == 'not_available') {
          document.querySelector('#form-vehicle-state .info-messages').innerHTML = `
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              Tenga en cuenta que:
              <ul>${response.msg[0]}</ul>
            </div>
          `
        } else {
          document.querySelector('#form-vehicle-state .info-messages').innerHTML = ''
        }
      })
  }
}