<%= form_with(model: @zone_job_profile, id: 'form-zone-job-profile', class: 'needs-validation g-brd-around g-brd-gray-light-v4 g-pa-10 g-mb-10') do |form| %>
  
  <div class="actions">
    <%= form.submit 'Desvincular', class: 'btn u-btn-red mr-2' %>
    <button type="button" class="btn u-btn-purple" data-dismiss="modal">Cerrar</button>
  </div>
<% end %>
